@import url('https://fonts.googleapis.com/css?family=Overpass:400,600&display=swap');

$black: #222;
$white: #fefefe;
$dark: #24243e;
$light: #fffff2;
$base: #302b63;
$alt: #0f0c29;

$logo-height: 70px;

$background: linear-gradient(to right, $dark, $base, $alt);

html,
body,
#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Overpass', sans-serif;
  background-color: $alt;
  background-image: $background;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
  color: $light;
  font-weight: normal;
  background: #{$background} no-repeat center / 100vw;
  text-decoration: none;
  z-index: 999;

  &__image {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    background: url('../images/clock.svg') no-repeat center / contain;
  }

  > img {
    margin: 0 10px 0 0;
  }

  &__content {
    line-height: 1;

    &-heading {
      margin: 0;

      &-sub {
        margin: 0;
        color: rgba($light, 0.65);
        font-size: 0.8rem;
      }
    }
  }
}

.subtitle {
  color: $light;
  font-size: 0.8rem;
}

footer {
  margin: 40px 0 0;
  color: $light;
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.75;
  line-height: 1;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted $light;
  }
}

@import './controls';
@import './post';
